.card {
  width: fit-content;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  margin: auto;
  letter-spacing: 2px;
}

.cardholderName,
.cardExpiryDate,
.cardCvc {
  font-size: 0.65em;
}

.cardNumber {
  margin-bottom: 1em;
  letter-spacing: 3px;
  font-variant-numeric: tabular-nums;
}

.cardFace {
  margin: 0;
  width: 18rem;
  height: 10rem;
  color: white;
  border-radius: 0.75rem;
}

.cardBack {
  composes: cardFace;
  margin-left: 52px;
  background: center / cover no-repeat url("../assets/images/bg-card-back.png");
}

.cardCvc {
  display: inline;
  position: relative;
  top: 4.1rem;
  left: 14rem;
}

.cardFront {
  composes: cardFace;
  margin-top: -69px;
  padding: 1em;
  box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.25);
  background: center / cover no-repeat url("../assets/images/bg-card-front.png");
}

.cardLogo {
  height: 30px;
  margin-bottom: 2em;
}

.cardBottomRow {
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 1200px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    top: 0;
    bottom: 0;
    margin: 0 10rem;
    letter-spacing: 3px;
  }

  .cardholderName,
  .cardExpiryDate,
  .cardCvc {
    font-size: 0.45em;
  }

  .cardLogo {
    height: auto;
  }

  .cardCvc {
    top: 5.9rem;
    left: 22.25rem;
  }

  .cardFace {
    width: 28rem;
    height: 15rem;
    font-size: 1.75rem;
  }

  .cardBack {
    order: 1;
    margin-left: 6rem;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1),
      0px 8px 70px rgba(0, 0, 0, 0.12);
  }

  .cardFront {
    padding: 2rem;
    margin-top: 0;
  }

  .cardNumber {
    letter-spacing: 3.8px;
  }
}
