@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 18px "Space Grotesk", sans-serif;
}

button,
input {
  font: inherit;
}

main {
  display: flex;
  flex-flow: column nowrap;
}

h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1em;
}
