@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
main {
  height: 100svh;
}

body {
  margin: 0;
  font: 18px "Space Grotesk", sans-serif;
}

button,
input {
  font: inherit;
}

main {
  max-height: 100svh;
  display: flex;
  flex-flow: column nowrap;
}

h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1em;
}

img {
  display: block;
}

@media all and (min-width: 1200px) {
  main {
    flex-direction: row;
  }
}
